<?xml version="1.0" encoding="UTF-8" ?>
<taglib xmlns="http://java.sun.com/JSP/TagLibraryDescriptor"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.0">
	<tlib-version>1.0</tlib-version>
	<short-name>devteamtags</short-name>
	<uri>/WEB-INF/tld/devTeamTagLib.tld</uri>
	<tag>
		<name>table-error</name>
		<tag-class>by.seleznev.devteam.tag.ErrorInfoTag</tag-class>
		<body-content>scriptless</body-content>
		<attribute>
			<name>rows</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>list</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>visitor-info</name>
		<tag-class>by.seleznev.devteam.tag.VisitorInfoTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>visitor</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>