#header {
	width: 800px;
	min-height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	text-align: right;
	font-family: Arial;
	color: #003366;
	font-size: 15px;
	background-image: url("../images/background-pattern.png");
}

#message {
	font-family: Arial;
	color: #cc0000;
	font-size: 12px;
}

#footer {
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 21px;
	text-align: right;
	font-family: Arial;
	color: white;
	font-size: 10px;
	background-color: #0066ff;
}

#container {
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#menu {
	height: 80px;
	color: white;
	font-family: headerFont, Times, serif;
	text-align: right;
	text-shadow: blue;
	padding-right: 20px;
	background-image: url("../images/main_background.png");
}

#login_panel {
	width: 350px;
	height: 400px;
	background-color: #f2f2f2;
	float: left;
	padding-top: 50px;
	padding-left: 50px;
	font-family: Arial;
	color: #003366;
	font-size: 15px;
	background-image: url("../images/background-pattern.png");
}

#register_panel {
	width: 350px;
	height: 400px;
	background-color: #f2f2f2;
	padding-top: 50px;
	padding-left: 50px;
	float: right;
	font-family: Arial;
	color: #003366;
	font-size: 15px;
	background-image: url("../images/background-pattern.png");
}

#main_panel {
	width: 730px;
	min-width: 400px;
	min-height: 350px;
	background-color: #f2f2f2;
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-right: 20px;
	font-family: Arial;
	color: #003366;
	font-size: 14px;
	background-image: url("../images/background-pattern.png");
}

#main_panel textarea {
	resize: none;
}

.required:after { content:" *"; }

@font-face {
    font-family: headerFont;
    src: url(../font/CaviarDreams.ttf);
}

@font-face {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-variant: normal;
}

.dev_team_table table {
    border-collapse: separate;
    width: 100%;
}

.dev_team_table th, td {
    text-align: left;
    padding: 8px;
    font-family: Arial;
	color: #003366;
	font-size: 12px;
}

.dev_team_table tbody tr:nth-child(even) td{
	background-color: #cce0ff;
}

.dev_team_table tbody th {
    background-color: #1a74ff;
    color: white;
}

.dev_team_table tbody tr.highlight td { 
    background-color: #80b2ff;
}

.dev_team_error_table table {
    border-collapse: separate;
    width: 100%;
}

.dev_team_error_table th, td {
    text-align: left;
    padding: 8px;
    font-family: Arial;
	color: #800000;
	font-size: 12px;
}

.dev_team_error_table tbody tr:nth-child(odd) td{
	background-color: #ff8080;
}

.dev_team_error_table tbody tr:nth-child(even) td{
	background-color: #ffcccc;
}

.dev_team_error_table tbody th {
    background-color: #cc0000;
    color: white;
}

.btn input {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  border: dotted #1f628d 1px;
  text-decoration: none;
  min-width: 150px;
}

.btn:hover input {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.lang_btn input {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  border: dotted #1f628d 1px;
  text-decoration: none;
  min-width: 30px;
}

.lang_btn:hover input {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.required-label:AFTER { 
   content:"*";
   color:red;
}

#bolt_text {
	font-weight: bold;
}

#visitorInfo {
	float: left;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 5px;
	font-family: Arial;
	color: #003366;
	font-size: 12px;
}